# pixi environments
.pixi/*
!.pixi/config.toml

__pycache__
.jj
.env

data/
satellite-recordings/
scrap_data/
docs/figures/
docs/*.html
docs/*.pdf

# Jupyter
.ipynb_checkpoints/

# Python Packaging
*.egg-info/
dist/
build/
